.for-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 37px;
}
.artisan-guide-sec {
  margin-top: -145px;
}
.inner-div {
  position: relative;
  top: -40px;
  left: 0;
  padding-top: 37px;
}

.inner-image {
  position: relative;
  top: 0;
  left: 0;
  width: 595px;
  height: 478px;
}

.inner-image-2 {
  position: absolute;
  top: 30px;
  padding: 30px 0;
}


.inner-button {
  position: absolute;
  bottom: 21px;
  background-color: #a76101 !important;
  color: #FFFFFF;
  font-family: 'segoeui','sans-serif';
  font-size: 23px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 39px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  max-width: 319px;
  height: 73px;
  border: 15px #9f8055;
  }
.inner-button:hover {
  color: #1da1f2;;
}
.btn-text {
  padding-top: 15px;
}
